.create {
  background-color: #f2f2f2;
}

.scale {
  padding: 38px 0;
}

.create__panel {
  margin: 42px 0;
}

.creation__post {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  border: solid 3px #d22856;
  color: #d22856;
}

.creation___cancellation {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  border: solid 3px rgba(40, 54, 69, 0.1);
  color: rgba(40, 54, 69, 0.1);
}
