.download {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: #283645;
}

.download__headline {
  width: 186px;
  font-weight: 300;
  color: @white;
  display: none;
  text-align: center;
}

.download__link {
  font-size: 18px;
  line-height: 1;
  color: @white;
  font-weight: bold;
  border: solid 3px @white;
  margin: 30px auto 0;

  &:hover {
    background: @white;
    color: @lipstick;
  }

  &:active {
    background-color: @white;
    color: rgba(210, 40, 86, 0.3);
  }
}

.download__item {
  line-height: 1.71;
  font-size: 14px;
  color: @white;
  margin-top: 28px;
  padding-bottom: 35px;
  text-align: center;
  font-weight: 300;
}

.download__link--image {
  width: 220px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  margin-left: 57px;
}

.link-google {
  margin-top: 10px;
}

.link--microsoft {
  margin-top: 10px;
}

@media (min-width: @tablet-width) {
  .download {
    margin-left: 20px;
    margin-top: 103px;
    width: 294px;
    background: none;
    flex-grow: 1;
    z-index: 2;
  }

  .download__headline {
    width: 186px;
    font-size: 40px;
    display: block;
    margin: 0 auto;
    margin-bottom: 39px;
  }

  .download__item {
    width: 294px;
    margin: 41px auto 112px;
    padding: 0;
  }

  .download__link--image {
    margin-left: 47px;
  }
}

@media (min-width: @desktop-width) {
  .download {
    margin-top: 121px;
    margin-left: 166px;
    background-position: 57px 340px, 140px 350px, 218px 353px;
  }

  .download__item {
    margin: 183px auto 125px;
  }

  .download__headline {
    width: 231px;
    font-size: 50px;
  }
}
