.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 46px;
  height: 46px;
  border: solid 3px rgba(40, 54, 69, 0.1);
  background-color: #fefefe;
  border-radius: 50%;
  margin: 8px;

  &:hover {
    border: solid 3px #283645;
  }

  &:active {
    opacity: 0.1;
  }
}

.footer__social__list {
  display: flex;
  padding: 0;
}

.copyright {
  display: flex;
}

.social svg {
  fill: @lipstick;
  opacity: none;
}

.copyright__text {
  margin: 0;
}

.page-footer__copyright {
  align-items: center;
}

.copyright__link svg {
  fill: @lipstick;
  margin: 0 15px;

  &:hover {
    fill: #283645;
  }

  &:active {
    opacity: 0.3;
    fill: #283645;
  }
}

.footer-logo--pink {
  &:hover {
    fill: @lipstick;
  }
}

.footer-logo--photo {
  &:active {
    opacity: 0.3;
  }
}

.page-footer__map {
  position: relative;
}

.map {
  content: "";
  width: 320px;
  height: 123px;
  position: absolute;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

@media (min-width: @tablet-width) {
  .footer {
    justify-content: space-between;
    margin: 40px 20px;
  }

  .map__info {
    width: 100%;
  }

  .map {
    width: 660px;
    background-size: 660px;
    top: -2px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    margin: 98px 130px 87px;
  }

  .map__info {
    width: 100%;
    background-position: 0 20px;
  }

  .map {
    width: 1200px;
    background-size: 1200px;
    background-position: center;
  }
}
