.gallery__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.gallery__post:nth-child(1) {
  width: 100%;
}

.panorama__photo {
  width: 100%;
  margin: 0;
}

.gallery__post {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 1.71;
  color: @dark;
}

.gallery__wrapper {
  width: 280px;
}

.gallery__user-wrapper {
  display: flex;
}

.gallery__post__user-name {
  font-weight: bold;
  font-style: normal;
}

.gallery__post__user-time {
  margin: 0;
  font-weight: 300;
}

.gallery__post__user-text {
  text-align: left;
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}

.gallery__likes {
  width: 280px;
  display: flex;
}

.likes_info {
  color: @lipstick;
}

.panorama {
  position: relative;
}

.panorama__button {
  position: absolute;
  right: 36px;
  width: 140px;
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  color: @white;
  background-color: #d22856;
  border: none;
  padding: 13px 20px 11px;
}

.gallery__photo {
  width: 100%;
}

.likes_button svg {
  fill: @lipstick;
}

.likes_button {
  width: 13px;
  height: 12px;
  background: none;
  border: none;
  margin: 18px 18px 26px;
}

@media (min-width: @tablet-width) {
  .gallery__wrapper--panorama {
    width: 620px;
    margin: 0 20px;
  }

  .gallery {
    width: @tablet-width;
  }

  .gallery__wrapper {
    width: 300px;
  }

  .gallery__post__user-info:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 620px;
  }

  .panorama__button {
    top: 57px;
  }

  .likes--panorama {
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    width: @desktop-width;
  }

  .gallery__wrapper--panorama {
    text-align: center;
    width: 940px;
  }

  .panorama__button {
    top: 54px;
    right: 130px;
  }
}
