.gallery__button--panorama {
  font-size: 12px;
  font-weight: bold;
  line-height: 2;
  color: #ffffff;
  background-color: #d22856;
  border: none;
  padding: 13px 20px 11px;
}

.gallery__post {
  list-style: none;
}


.gallery__post__user-info {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
  color: #283645;
  background-color: #f2f2f2;
}

.gallery__post__user-name {
  font-weight: bold;
  font-style: normal;
}

.gallery__post__user-time {
  font-weight: 300;
}

.gallery__post__user-text {
  font-size: 12px;
  font-weight: 300;
}
