.page-header__wrapp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #283645;
  background-position: 50% -100px;
}

.page-header__logo {
  width: 75px;
  margin: 20px;
  fill: @white;

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: @white;
    opacity: 0.3;
  }
}

.page-header__logo--image {
  margin-left: -70px;
}

.main-nav__toggle {
  position: absolute;
  display: block;
  padding: 0;
  width: 52px;
  height: 26px;
  top: -60px;
  right: 20px;
  background: none;
  cursor: pointer;
  border: none;
}

.page-header__wrapp-content {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
}

.star {
  display: none;
}

.icon-pink--glass {
  width: 0;
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__wrapp {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center bottom;

    @media (min-width: 660px) and (min-resolution: 144dpi) and (min-width: 660px) and (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__logo {
    width: 147px;
  }

  .icon-pink--glass {
    display: inline;
  }

  .page-header__logo--image {
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapp {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: 50% 20%;

    @media (min-width: 1200px) and (min-resolution: 144dpi) and (min-width: 1200px) and (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header {
    flex-grow: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .main-nav__toggle {
    display: none;
  }

  .star {
    display: inline-block;
    fill: #d22856;
  }

  .page-header__wrapp-content {
    display: block;
  }

  .page-header__logo--image {
    margin: 27px 130px 43px;
  }
}
