
.info__heading {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: @white;
  padding-top: 35px;
  padding-bottom: 307px;
}

.info__photo-image {
  margin-top: 110px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .info {
    flex-grow: 1;
  }

  .info__photo-image {
    display: none;
    margin-top: 74px;
    width: 100%;
  }

  .info__heading {
    font-size: 50px;
  }
}

@media (min-width: @desktop-width) {
  .info__photo-image {
    margin: 100px 146px 0;
  }
}
