.page-footer__heading {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}

.page-footer__list {
  list-style: none;
}

.page-footer__item {
  font-size: 18px;
  font-weight: bold;
  color: #283645;
}

.page-footer__info {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}
