.reviews__wrapper {
  list-style: none;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.67;
  text-align: center;
  margin: 49px 82px 25px;
}
