.reviews__wrapper {
  margin-top: 49px;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
}

.reviews__quotes {
  display: none;
}

.author {
  text-align: center;
}

.author__name {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 1.67;
  margin: 49px 82px 25px;
}

.author__info {
  display: none;
  margin: 0;
}

.reviews__text {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
  line-height: 2.14;
  margin: 0 auto;
}

.reviews__toggles {
  display: flex;
  justify-content: center;
  margin: 42px auto 0;
}

.reviews__button {
  display: none;
}

@media (min-width: @tablets) {
  .reviews__text {
    font-size: 18px;
    line-height: 1.67;
  }

  .reviews__list {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }
}

@media (min-width: @desktop) {
  .author__info {
    display: block;
    font-size: 14px;
    line-height: 2.14;
  }

  .reviews__quotes {
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 30px;
  }

  .reviews__text {
    margin: 0 auto;
    width: 685px;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: #283645;
  }

  .author__name {
    font-size: 24px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__wrapper {
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .reviews__button {
    display: inline-block;
    width: 22px;
    height: 41px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    opacity: 0.3;
    margin-top: 213px;
    margin-right: 105px;
    margin-bottom: 113px;
  }
}
