@import "header.less";
@import "info.less";
@import "navigation.less";
@import "download.less";
@import "button.less";
@import "visually-hidden.less";
@import "page-main.less";
@import "advantages.less";
@import "reviews.less";
@import "tariffs.less";
@import "slider.less";
@import "page-footer.less";
@import "users.less";
@import "gallery.less";
@import "appeal.less";
@import "create.less";
@import "footer.less";
@import "variables.less";

@font-face {
  font-family: "Open San";
  src: url("../fonts/opensans.woff"),
    url("../fonts/opensans.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open San";
  src: url("../fonts/opensansbold.woff"),
    url("../fonts/opensansbold.woff2");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Open San";
  src: url("../fonts/opensanslight.woff"),
    url("../fonts/opensanslight.woff2");
  font-weight: light;
  font-style: light;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100;
  height: auto;
}
