@import "header.less";
@import "info.less";
@import "navigation.less";
@import "download.less";
@import "button.less";
@import "visually-hidden.less";
@import "page-main.less";
@import "advantages.less";
@import "reviews.less";
@import "tariffs.less";
@import "slider.less";
@import "page-footer.less";
@import "users.less";
@import "gallery.less";
@import "appeal.less";
@import "create.less";
@import "footer.less";
@import "variables.less";
@import "mixin.less";
@import "form.less";
@import "emotions.less";
@import "personal__information.less";
@import "application.less";
@import "progress.less";
@import "personal.less";
@import "intro.less";
@import "contest.less";

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format(woff2),
    url("../fonts/opensans.woff") format(woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format(woff2),
    url("../fonts/opensansbold.woff") format(woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format(woff2),
    url("../fonts/opensanslight.woff") format(woff);
  font-weight: 300;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
