.tariffs {
  padding-top: 157px;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(-4deg, #f2f2f2 80%, @white 80%);
}

.tariffs__wrapper {
  width: 900px;
  height: 300px;
  display: flex;
  transform: translateX(-250px);
}

.tariffs__item {
  width: 276px;
  background-color: #283645;
  text-align: center;
  color: @white;
  min-height: 75px;
  border: solid 1px #e5e5e5;
}

.tariffs__name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  margin: 15px 0 0;
}

.tariff__cost {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
}

.tariffs__companents {
  width: 276px;
  display: flex;
  flex-direction: column;
}

.components__description {
  width: 130px;
  font-size: 14px;
  line-height: 2.14;
  padding-left: 22px;
  text-align: left;
  margin: 0;
}

.components__availability {
  display: flex;
  justify-content: space-around;
  border: solid 1px #e5e5e5;
  min-height: 45px;
  align-items: center;
  background: @white;
}

.components__existence {
  padding-right: 20px;
}

.tariffs__item.zero {
  border: none;
  background-color: #f2f2f2;
  margin: 1px;
}

.tariffs__toggles {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 51px;
}

.tariffs__companents:nth-child(1) {
  display: none;
}

.standart .tariffs__item {
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

.components__existence--yes {
  width: 31px;
  height: 21px;
  fill: #3dc644;
}

.components__existence--no {
  width: 27px;
  height: 26px;
  fill: #f25b26;
}

@media (min-width: @tablet-width) {
  .tariffs {
    width: 660px;
    overflow: visible;
    padding-top: 114px;
  }

  .tariffs__item {
    width: 153px;
  }

  .tariffs__wrapper {
    width: 616px;
    transform: none;
    margin: auto;
  }

  .tariffs__companents:nth-child(1) {
    display: block;
  }

  .base .components__description,
  .standart .components__description,
  .anlim .components__description {
    display: none;
  }

  .base.components__existence {
    display: none;
  }

  .components__existence {
    margin: 16px auto 18px;
  }

  .standart .tariffs__item {
    background-image: url("../img/bg-hit-tablet.svg");
  }

  .tariffs__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .tariffs {
    width: 1200px;
    padding-top: 159px;
  }

  .tariffs__item {
    width: 233px;
  }

  .components__availability {
    width: 234px;
  }

  .components__description {
    width: 144px;
    font-size: 18px;
    line-height: 1.67;
  }

  .tariffs__wrapper {
    width: 940px;
  }
}
