.tariffs__name {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  margin: 0;
}

.tariffs__item {
  width: 320px;
  text-align: center;
  border-left: solid 2px @white;
  border-right: solid 2px @white;
  background-color: #283645;
  color: @white;
}

.tariff__cost {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
}

.tariffs__components {
  background-color: @white;
}

.components__description {
  width: 220px;
  margin-left: 40px;
}

.components {
  display: flex;
}

.tariffs__info {
  display: flex;
}

.components__availability {
  display: flex;
  border: solid 2px #e5e5e5;
  border-collapse: collapse;
}

.components__item,
.base,
.anlim {
  display: none;
}

.components__list {
  border: solid 2px #e5e5e5;
}

.components__item {
  font-size: 14px;
  line-height: 2.14;
  text-align: left;
  color: #283645;
}

.tariffs__toggles {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .tariffs {
    background-color: #f2f2f2;
  }

  .tariffs__info {
    margin-left: 177px;
  }

  .tariffs__toggles {
    display: none;
  }

  .base,
  .anlim {
    display: flex;
  }

  .components__description {
    display: none;
  }

  .components__item {
    display: flex;
    border: solid 2px #e5e5e5;
    margin-left: 15px;
    width: 152px;
  }

  .tariffs__list {
    margin: 0 auto;
    border: solid 2px #e5e5e5;
    background-color: #ffffff;
  }

  .tariffs__item {
    display: block;
    width: 160px;
  }

  .components__availability {
    width: 154px;
  }
}
